@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Güncellme</h2>

@Html.ValidationSummary()
@using (Html.BeginForm("Edit", "AdminAuthorized", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.HiddenFor(a => a.AdminID)
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminName)
        <br />
        @Html.Label("Admin Email")
        @Html.TextBoxFor(x => x.AdminEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminEmail)
        <br />
        @Html.Label("Admin Parola")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminPassword)
        <br />
        @Html.DropDownListFor(a => a.AdminRole, (List<SelectListItem>)ViewBag.adminRoles, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">
            Kaydet
        </button>
    </div>
}

