@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<h2>Başlık Ekleme</h2>

@Html.ValidationSummary()
@using (Html.BeginForm("NewHeading", "WriterHeading", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(h => h.CategoryID, (List<SelectListItem>)ViewBag.valueCategory, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">
            Kaydet
        </button>
    </div>
}


