@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Düzenleme</h2>

@using (Html.BeginForm("Edit", "AdminHeading", FormMethod.Post))
{
    @Html.HiddenFor(h => h.HeadingID)
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Başlık")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(h => h.CategoryID, (List<SelectListItem>)ViewBag.valueCategory, new { @class = "form-control" })
        <br />
        @Html.Label("Yazar")
        @Html.DropDownListFor(h => h.WriterID, (List<SelectListItem>)ViewBag.valueWriter, new { @class = "form-control" })
        <button class="btn btn-success">
            Kaydet
        </button>
    </div>
}

