@model IEnumerable<EntityLayer.Concrete.Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string color = "";}

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-12">
            <h1>Başlıklar</h1>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Başlık İşlemleri</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th style="width: 25%">
                        Başlık
                    </th>
                    <th style="width: 10%" class="text-center">
                        Yazar
                    </th>

                    <th style="width: 20%" class="text-center">
                        Kategori
                    </th>
                    <th style="width: 20%">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var heading in Model)
                {
                    if (heading.Category.CategoryID == 1)
                    {
                        color = "badge badge-success";
                    }
                    else if (heading.Category.CategoryID == 2)
                    {
                        color = "badge badge-warning";
                    }
                    else if (heading.Category.CategoryID == 3)
                    {
                        color = "badge badge-danger";
                    }
                    else
                    {
                        color = "badge badge-primary";
                    }
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                @heading.HeadingName
                            </a>
                            <br />
                            <small>
                                @(((DateTime)heading.HeadingDate).ToString("dd.MM.yyyy"))
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="@heading.Writer.WriterImage">
                                    <p class="mt-1">@heading.Writer.WriterName @heading.Writer.WriterSurname</p>
                                </li>
                            </ul>
                        </td>

                        <td class="project-state align-self-center">
                            <span class="@color"> @heading.Category.CategoryName</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="/AdminContent/ContentByHeading/@heading.HeadingID">
                                <i class="fas fa-folder">
                                </i>
                                Yazılar
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Düzenle
                            </a>
                            <a class="btn btn-danger btn-sm" href="AdminHeading/">
                                <i class="fas fa-trash">
                                </i>
                                Sil
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-primary" href="/AdminHeading/AddHeading">Yeni Başlık Ekle</a>

